meta(name='viewport', content='width=device-width, initial-scale=1.0')
link(rel='stylesheet', href='/css/bootstrap.min.css')
link(rel='stylesheet', href='/css/bootstrap-responsive.min.css')
link(rel='stylesheet', href='/css/matrix-style.css')
link(rel='stylesheet', href='/css/matrix-media.css')
link(href='/font-awesome/css/font-awesome.css', rel='stylesheet')
script(src='/js/jquery.min.js')
script(src='common/js/jquery.cookie.js')
