extend ../../layout

block head
  link(rel='stylesheet', href='/css/download.css')
  script(src='../common/js/dailyMatch/chooseClub.js')
  
block sidebar
  #sidebar
    a.visible-phone(href='/')
      i.icon.icon-home
      |  主页
    |   
    ul
      if role === 1
        li
          a(href='/paper')
            i.icon.icon-inbox
            |  
            span 门票验证
        |     
        li
          a(href='/orders')
            i.icon.icon-th
            |  
            span 订单查询
        |   
        li
          a(href='/vip')
            i.icon.icon-th
            |  
            span 会员管理
      if role > 9 
        li.submenu
          a(href='#')
            i.icon.icon-list
            |  
            span 大赛
            |  
            span.label.label-important 4
          |       
          ul.bigMatch
            li
              a(href='/bigChooseClub/1') 大赛系列列表
            li
              a(href='/bigChooseClub/2') 发布大赛结果  
        li.submenu.dailyMatch.open
          a(href='#')
            i.icon.icon-list
            |  
            span 日赛
            |  
            span.label.label-important 4
          |       
          ul.match
            li
              a(href='/dailyChooseClub?id=1') 发布日赛
            li
              a(href='/dailyChooseClub?id=2') 日赛日历
            li
              a(href='/dailyChooseClub?id=3') 日赛系列列表
            li
              a(href='/dailyMatchResult') 发布日赛结果
        li.settingLabel
          a(href='/dailyChooseClub?id=4')
            i.icon.icon-th
            |  
            span 赛事结构列表
        li.submenu
          a(href='#')
            i.icon.icon-list
            |  
            span 俱乐部
            |  
            span.label.label-important 1
          |       
          ul
            li
              a(href='/addClub') 添加俱乐部


block content
    #content
      #content-header
        #breadcrumb
          a.tip-bottom(href='/', title='Go to Home')
            i.icon-home
            |  主页
          a.tip-bottom(href='#') #{title}
          |   
      // Action boxes
      .container-fluid
        hr
        |   
        .row-fluid
          .widget-box
            .widget-title
              span.icon
                i.icon-align-justify
              |           
              h5 
            |  
            .widget-content.nopadding
              form.form-horizontal.addMatch(enctype="multipart/form-data")
                .control-group
                  label.control-label 俱乐部 :
                  |               
                  .controls
                    select(name='club')
                      option(value='0', selected='true') 请选择
                      option(value='22') 跑跑俱乐部
                      option(value='75') e+俱乐部
                      option(value='83') 扑克联盟俱乐部
                      option(value='26') 京扑克俱乐部
                      option(value='85') 大赛专用
                      //option(value='0') 熊猫俱乐部
                .form-actions
                  button.btn.btn-success.success(type='button') 提交
      
    
    
