extend ../../layout

block head
  link(rel='stylesheet', href='css/uniform.css')
  link(rel='stylesheet', href='css/select2.css')
  link(rel='stylesheet', href='common/css/orders.css')
  script(src='../common/js/dailyMatch/result.js')
  link(rel='stylesheet', type='text/css', media='all', href='css/daterangepicker-bs3.css')
  style.
    td {
    text-align: center;
    }
  
block sidebar
  #sidebar
    a.visible-phone(href='/')
      i.icon.icon-home
      |  主页
    |   
    ul
      if role === 1
        li
          a(href='/paper')
            i.icon.icon-inbox
            |  
            span 门票验证
        |     
        li
          a(href='/orders')
            i.icon.icon-th
            |  
            span 订单查询
        li
          a(href='/vip')
            i.icon.icon-th
            |  
            span 会员管理
      if role > 9
        li.submenu.open
          a(href='#')
            i.icon.icon-list
            |  
            span 日赛
            |  
            span.label.label-important 4
          |       
          ul
            li
              a(href='/dailyChooseClub?id=1') 发布日赛
            li
              a(href='/dailyChooseClub?id=2') 日赛日历
            li.active
              a(href='/dailyMatchResult') 发布日赛结果
            li
              a(href='/dailyChooseClub?id=3') 日赛系列列表
        li
          a(href='/dailyChooseClub?id=4')
            i.icon.icon-th
            |  
            span 赛事结构列表
        li.submenu
          a(href='#')
            i.icon.icon-list
            |  
            span 俱乐部
            |  
            span.label.label-important 1
          |       
          ul
            li
              a(href='/addClub') 添加俱乐部

block content
    #content
      #content-header
        #breadcrumb
          a.tip-bottom(href='/', title='Go to Home')
            i.icon-home
            |  主页
          |  
          a.current(href='#') #{title}
        |     
        h1 #{title}
      |   
      .container-fluid
        hr
        |     
        div
          //
            <form class="form-horizontal">
            <fieldset>
          .start
            select(name='club')
              option(value='0', selected='true') 请选择
              option(value='22') 跑跑俱乐部
              option(value='75') e+俱乐部
              option(value='0') 扑克联盟俱乐部
              option(value='26') 京扑克俱乐部
              option(value='0') 熊猫俱乐部                
            input#end.end(type='text', readonly='', name='matchDay', placeholder='日期')
            |                
            button.btn.query(type='button') 查询
          //
            </fieldset>
            </form>
        |     
        .widget-box
          .widget-title
            span.icon
              i.icon-th
            |         
            span.info_status 日赛结果列表
            |         
          |       
          .widget-content.nopadding
            table.table.table-bordered.table-striped
              thead
                tr
                  th ID
                  |               
                  th 赛事名称
                  |               
                  th 已录入
                  |               
                  th 详情
              |           
              tbody.result_table
                tr
                  td.orderInfo(colspan='4') 暂无数据    
    
          script(type='text/javascript', src='js/moment.js')
          script(type='text/javascript', src='js/daterangepicker.js')
          script(type='text/javascript', src='js/select2.min.js')
          script(type='text/javascript', src='js/jquery.ui.custom.js')
          script(type='text/javascript', src='js/jquery.uniform.js')
          script(type='text/javascript', src='js/jquery.dataTables.min.js')
          script(type='text/javascript', src='js/matrix.tables.js')
    
