extend ../layout

block head
  link(rel='stylesheet', href='css/uniform.css')
  link(rel='stylesheet', href='css/select2.css')
  link(rel='stylesheet', href='common/css/orders.css')
  script(src='common/js/orders.js')
  link(rel='stylesheet', type='text/css', media='all', href='css/daterangepicker-bs3.css')
  style.
    td {
    text-align: center;
    }
  
block sidebar
  #sidebar
    a.visible-phone(href='/')
      i.icon.icon-home
      |  主页
    |   
    ul
      li
        a(href='/paper')
          i.icon.icon-inbox
          |  
          span 门票验证
      |     
      li.active
        a(href='/orders')
          i.icon.icon-th
          |  
          span 订单查询
      li
        a(href='/vip')
          i.icon.icon-th
          |  
          span 会员管理
      if role > 9        
        li.submenu
          a(href='#')
            i.icon.icon-list
            |  
            span 我的赛事
            |  
            span.label.label-important 1
          |       
          ul
            li
              a(href='/matchSettingList') 比赛结构信息
      if role > 9
        li.submenu
          a(href='#')
            i.icon.icon-list
            |  
            span 俱乐部
            |  
            span.label.label-important 1
          |       
          ul
            li
              a(href='/addClub') 添加俱乐部

block content
    #content
      #content-header
        #breadcrumb
          a.tip-bottom(href='/', title='Go to Home')
            i.icon-home
            |  主页
          |  
          a.current(href='#') #{title}
        |     
        h1 #{title}
      |   
      .container-fluid
        hr
        |     
        div
          //
            <form class="form-horizontal">
            <fieldset>
          .start
            input#start(type='text', readonly='', name='start', placeholder='开始时间')
            |                
            input#end.end(type='text', readonly='', name='end', placeholder='结束时间')
            |                
            button.btn.query(type='button') 查询
          //
            </fieldset>
            </form>
        |     
        .widget-box
          .widget-title
            span.icon
              i.icon-th
            |         
            span.info_status 订单状态
            |         
            select
              option(value='', selected='true') 全部
              |           
              option(value='0') 未结算
              |     
              option(value='1') 已结算
            |         
            span.info_label 总额：0元
          |       
          .widget-content.nopadding
            table.table.table-bordered.table-striped
              thead
                tr
                  th 序号
                  |               
                  th 赛事名称
                  |               
                  th 订单编号
                  |               
                  th 用户名
                  |               
                  th 手机号
                  |               
                  th 时间
                  |               
                  th 是否结算
              |           
              tbody.orders_table
                tr
                  td.orderInfo(colspan='7') 暂无数据
        |     
        #DataTables_Table_0_paginate.dataTables_paginate.fg-buttonset.ui-buttonset.fg-buttonset-multi.ui-buttonset-multi.paging_full_numbers
          a#DataTables_Table_0_first.first.ui-corner-tl.ui-corner-bl.fg-button.ui-button.ui-state-default(tabindex='0') 首页
          |         
          a#DataTables_Table_0_previous.previous.fg-button.ui-button.ui-state-default(tabindex='0') 上一页
          |         
          a#DataTables_Table_0_next.next.fg-button.ui-button.ui-state-default(tabindex='0') 下一页
          |         
          a#DataTables_Table_0_last.last.ui-corner-tr.ui-corner-br.fg-button.ui-button.ui-state-default(tabindex='0') 尾页
    
    
          script(type='text/javascript', src='js/moment.js')
          script(type='text/javascript', src='js/daterangepicker.js')
          script(type='text/javascript', src='js/select2.min.js')
          script(type='text/javascript', src='js/jquery.ui.custom.js')
          script(type='text/javascript', src='js/jquery.uniform.js')
          script(type='text/javascript', src='js/jquery.dataTables.min.js')
          script(type='text/javascript', src='js/matrix.tables.js')
    
