extend ../layout

block head
    style.
      span.headLeft {
      font-size: larger;
      position: relative;
      left: 52%;
      top: -48px;
      color: white;
      }
      div#headerFront {
      position: fixed;
      }
      td {
      text-align: center;
      }
    script(src='common/js/paper.js')

block sidebar
  #sidebar
    a.visible-phone(href='/')
      i.icon.icon-home
      |  主页
    |   
    ul
      li.active
        a(href='/paper')
          i.icon.icon-inbox
          |  
          span 门票验证
      |     
      li
        a(href='/orders')
          i.icon.icon-th
          |  
          span 订单查询
      |     
      li.submenu
        a(href='#')
          i.icon.icon-list
          |  
          span 我的赛事
          |  
          span.label.label-important 1
        |       
        ul
          li
            a(href='/matchSettingList') 比赛结构信息
      if role > 9
        li.submenu
          a(href='#')
            i.icon.icon-list
            |  
            span 俱乐部
            |  
            span.label.label-important 1
          |       
          ul
            li
              a(href='/addClub') 添加俱乐部

block content
    #content
      #content-header
        #breadcrumb
          a.tip-bottom(href='/', title='Go to Home')
            i.icon-home
            |  主页
          |  
          a.current(href='#') #{title}
        |     
        h1 #{title}
      |   
      .container-fluid
        hr
        |   
        div
          input.serial(type='text', style='float:left', data-provide='typeahead', placeholder='门票号')
          input.userId(type='hidden')
          |        
          button.btn.sub(type='button') 提交
        |     
        .widget-box
          .widget-title
            span.icon
              i.icon-th
            |         
            h5 门票信息
          |       
          .widget-content.nopadding
            table.table.table-bordered.data-table
              thead
                tr
                  th 门票编号
                  |               
                  th 赛事名称
                  | 
                  th 会员卡号
                  |              
                  th 用户名
                  |               
                  th 手机号
                  | 
                  th 金额
                  |               
                  th 状态
                  |               
                  th 操作
              |           
              tbody
                .paper_table
                  tr.gradeA
                    td.ticketInfo(colspan='8') 请输入门票号
        |   
        div
          input.card(type='text', style='float:left', placeholder='会员卡号')
          |        
          button.btn.subCardno(type='button') 绑定
    
